<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ijc-demo.ZPM">
    <Module>
      <Name>ijc-demo</Name>
      <Version>1.1.1</Version>
      <Description>Demo InterJob Communication</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="IJC.PKG"/>
    </Module>
  </Document>
</Export>
